{% extends 'components/base.html' %}

{% block title %}Change Password{% endblock %}

{% block body %}
<h1 class="text-center">Change Password</h1>
<form class="mt-5" method="POST" action="/change_password/" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
        <label for="old_password" class="form-label">Old Password</label>
        <input type="password" name="old_password" class="form-control" id="old_password">
    </div>
    <div class="mb-3">
        <label for="new_password" class="form-label">New Password</label>
        <input type="password" name="new_password" class="form-control" id="new_password">
    </div>
    <div class="mb-3">
        <label for="confirm_new_password" class="form-label">Confirm New Password</label>
        <input type="password" name="confirm_new_password" class="form-control" id="confirm_new_password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a href="/" class="btn btn-success">Go Back</a>
</form>

{% endblock %}